.product {
  border-radius: 15px;
  border: 1px solid #f6f6f6;
  padding: 20px 15px;
  background: #f6f6f6;
  margin: 10px 0;
  text-align: center;
  height: 100%;
  position: relative;
}
.card-name {
  color: blue;
}
.product .card-img-wrapper {
  overflow: hidden;
  border-radius: 15px;
  margin-bottom: 20px;
}
.product .card-img-wrapper .card-img {
  width: 100%;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 15px;
  height: 150px;
  object-fit: cover;
  transition: 0.5s ease-out;
}
.product .card-img-wrapper .card-img:hover {
  transform: scale(1.5);
}
